@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --logo-color: rgb(31, 156, 31);
  --logo-font: "Matemasie", sans-serif;
  --normal-font: "Roboto", sans-serif;
  --heading-clr: black;
  --normal-text-clr: rgb(170, 167, 167);
  --green-contrast: rgb(19, 12, 57);
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: var(--normal-font);
}

.navbar .top-nav .logo .logoh2{
  font-family: var(--logo-font);
  color: var(--logo-color);
  font-size: 2.5rem;
  margin-left: 20px;
  
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 3px solid rgb(214, 212, 212);
  background-color: white;
  z-index: 99;
}
.top-nav{
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
}

.startAndLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.navdp{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.navdp .navprofiledp{
width: 40px;
height: 40px;
background-color: rgb(31, 86, 86);
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
position: relative;
cursor: pointer;
}
.dpname{
font-size: 1rem;
font-weight: 700;
color: white;
}
.outerclickhanderler{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 998;
  display: none;
}
.profilemenu{
  background-color: white;
  border: 2px solid gray;
  border-bottom: 5px;
  box-shadow: 2px 2px 10px gray;
  display: none;
  position: fixed;
  top: 90px;
  z-index: 999;
}
.profilemenu li {
  list-style-type: none;
  padding: 10px 10px;
}
.profilemenuitem{
  text-decoration: none;
  color: var(--normal-text-clr);
  font-size: 1rem;
}
.profilemenuitem:hover{
  color: var(--logo-color);
  text-decoration: underline;
}

.logoutlink:hover{
  color: red;
  text-decoration: underline;
}
.category, .categoryList{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

.categoryList .navcatitem{
  margin: 0 20px;
  list-style-type: none;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
}

.navcatitem:hover{
  color: var(--logo-color);
  text-decoration: underline;
}

.btn{
  height: 3.5em;
  width: 160px;
  border-radius: 5px;
  margin: 5px 5px;
  color: var(--normal-text-clr);
  border-color: var(--normal-text-clr);
  background-color: transparent;
  font-weight: bolder;
  font-size: .8rem;
}
.navLoginlink{
  color: var(--normal-text-clr);
  text-decoration: none;
  font-size: 1rem;
}
.navstartProject{
  color: var(--normal-text-clr);
  text-decoration: none;
  font-size: 1rem;
}

.btn:hover .navLoginlink{
  color: black;
}
.btn:hover .navstartProject{
  color: black;
}
.btn:hover{
  border-color: black;
  box-shadow: 2px 2px 10px rgb(161, 159, 159);
  z-index: 5;
}

.searchBar{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 3px 20px rgb(194, 191, 191);
  border: 2px solid rgb(161, 155, 155);
  border-radius: 5px;
  padding: 2px;
  
}

.searchBar .searchInput{
  width: 35em;
  height: 3.5em;
  padding-left: 10px;
  outline: none;
  border: none;
} 
.searchIcon{
  height: 3.5em;
  width: 3.5em;
  background-color: transparent;
  border: none;
}
.fasearch_icon{
  font-size: 1.2rem;
  align-items: center;
  color: var(--normal-text-clr);
}
.searchIcon:hover .fasearch_icon{
  color: rgb(79, 78, 78);
}


/* ************************************************* */

.homePageBody{
  margin-top: 11em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodylayout{
  width: 75%;
  padding: 10px 30px;
}
.homeHeading{
  text-align: center;
  padding: 10px 20px;
}
.homeMainheading{
  padding: 10px 0;
}
.homeSubheading{
  padding: 10px 0;
}
.tillNowTableheading{
  font-size: 1rem;
  color: var(--normal-text-clr);
  padding: 4px 8px;
  margin: 6px 0;
}
.tablediv{
  width: 100%;
}
.tillNowTable{
  margin-top: 10px;
  border: 2px solid var(--normal-text-clr);
  width: 100%;
  box-shadow: 2px 2px 10px grey;
}
.tillNow{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2px 0;
  padding: 10px 0;
}
.tableTittle{
  font-size: 1rem;
  color: var(--normal-text-clr);
  padding: 2px 4px;
}
.tableData{
  font-size: 3rem;
  color: green;
  padding: 2px 4px;
}
.tablecontents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    border-right: 2px dotted var(--normal-text-clr);
}
.tllast{
  border: 0;
}
.tablerowmain{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px  0;
}

.newProjects{
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 40px 0;
}

.featuredProjects{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}
.thumnaildiv, .previewVideo{
  width: 100%;
  border-radius: 5px;
}
.projectData{
  padding: 10px 0;
  display: flex;
  width: 100%;
}
 .bookmarkicon{
  width: 10%;
  padding: 5px;
  text-align: center;
}
.dpblock{
  width: 10%;
  padding: 5px;
  text-align: center;
}
.projectdp{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectdp .profiledp{
width: 40px;
height: 40px;
border-radius: 50%;
object-fit: cover;
}
.projectDetails{
  width: 80%;
  padding: 5px;
}
.categoryAndlocation, .projectDiscription, .timeAndfunding{
  padding: 10px 0;
}

.recommendedProjects{
  width: 50%;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.featuredTitle, .recommendedTitle, .recentProjectsTitle {
  color: var(--normal-text-clr);
  padding: 10px 0;
}

.toprow, .bottomrow{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  
}

.card1,.card3{
  padding-right: 20px;

}
.card2,.card4{
  padding-left: 20px;
  
}
.card .dpblock{
  width: 25%;
}
.card .bookmarkicon{
  width: 25%;
}
.card .projectTitle{
  width: 140px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card .timeAndfunding{
  width: 140px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card .projectName{
  width: 140px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card .projectDiscription{
  padding: 0;
  height: 0;
  text-wrap: balance;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* *****need to create a div which holds both buttons and discription and try to use z-index / positions*/
.card:hover .projectDiscription{
  padding: 10px 0;
  height: 180px;
  overflow: visible;
}

/* ******************************************* */
.newsANDevents{
  margin: 80px 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.newsbanner{
  width: 50%;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.newsbanner .hopebanner{
  width: 100%;
  object-fit: contain;
}
.newsupdates{
  width: 50%;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.newsANDeventsheading{
  font-size: 2rem;
  color: var(--heading-clr);
  padding: 10px 10px;
}
.newsANDeventsdetails{
  font-size: 1.2rem;
  color: var(--heading-clr);
  padding: 10px 10px;
}
.newsReadmore{
  font-size: 1rem;
  padding:0 10px;
}

/* ***************************************** */
.footercontainer{
  display: flex;
  width: 100%;
  flex-direction: column;
  border-top: 3px solid var(--normal-text-clr);
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.underlinediv{
  border-bottom: 3px solid rgb(221, 216, 216);
  width: 100%;
}
.catog{
  width: 75%;
}
.catlist{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 30px;
}
.item{
  list-style-type: none;
  padding: .5em 1.5em;
}
.footerlinks{
  color: rgb(73, 71, 71);
  text-decoration: none;
  cursor: pointer;
}
.footerlinks:hover{
  text-decoration: underline;
  color: rgb(16, 181, 16);
}
.footercenter{
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footercenter .item{
  padding-left: 0;
}
.CopyrightANDfootersociallinks{
  width: 75%;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
}
.H{
  font-family: var(--logo-font);
  color: var(--logo-color);
  font-size: 1.3rem;
  font-weight: 600;
}
.linksAndbuttons, .sociallinks{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footericon{
  font-size: 1.5rem;
}
.TermANDconditions{
  padding-top: 30px;
  padding-bottom: 10px;
}
.tANDc{
 display: flex;
 justify-content: center;
 align-items: center;
}
.languageselect, .currencyselect{
  border: 0;
  background-color: transparent;
  font-size: 1.1rem;
  color: rgb(99, 96, 96);
  padding: .8em .8em;
}
.languagebtn, .currencybtn{
  background-color: transparent;
  box-shadow: 2px 2px 10px var(--normal-text-clr);
  border-radius: 5px;
  border: 2px solid rgb(230, 230, 230);
  margin-top: 2px;
  margin-bottom: 2px;
  
}
.languagebtn{
  margin-right: 5px;
  margin-left: 10px;
}
.languagebtn:hover{
  border: 2px solid rgb(115, 113, 113);
}
.currencybtn{
  margin-left: 5px;
  margin-right: 10px;
}
.currencybtn:hover{
  border: 2px solid rgb(115, 113, 113);
}
/* ************************************************ login and signin */
.logincontainer, .registercontainer{
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, rgb(138, 217, 138) 30%, rgb(177, 226, 227) , white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginfirstbox, .registerfirstbox{
  width: 80%;
  height: 90%;
  background-color: rgb(224, 229, 227);
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgb(127, 125, 125);
  display: flex;
  padding: 20px;
}
.LoginSidepart{
  width: 50%;
  height: 100%;
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(211, 208, 208);
  margin-right: 10px;
  box-shadow: 4px 2px 10px gray ;
}
.registerSidepart{
  width: 50%;
  height: 100%;
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(211, 208, 208);
  margin-right: 10px;
  box-shadow: -4px 2px 10px gray ;
}
.LoginMainpart, .registerMainpart{
  width: 50%;
  height: 100%;
  border-radius: 20px;
  padding: 20px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logintitle, .registertitle{
  font-size: 2.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 900;
}
.loginformdiv, .loginform, .registerformdiv, .registerform{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.loginemail, .loginpassword, .registerusename, .registeremail, .registerpassword, .registerconfirmpassword{
  width: 22em;
  height: 3em;
  border-radius: 10px;
  border: 0;
  outline: none;
  padding: 10px;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;

}
.loginbtn, .registerbtn{
  width: 22em;
  height: 3em;
  border-radius: 10px;
  padding: 10px;
  border: 0;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 800;
  background-color: white;
}
.loginbtn:hover ,.registerbtn:hover{
  transform: scale(1.02);
  transition: transform 0.5s;
  background-color: var(--green-contrast);
  color: white;
}

.forgotpassword{
  width: 100%;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
}
.forgotpasswordlink{
  color: black;
  text-decoration: none;
  margin-right: 6em;
}
.forgotpasswordlink:hover{
  color: var(--logo-color);
  text-decoration: underline;
}
.continuepart{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  flex-direction: column;
  font-size: 1.1rem;
  text-align: center;
}
.contiptag{
  margin-top: 10px;
  margin-bottom: 10px;
}
.continuetxt{
  font-size: 1.2rem;
}
.loginicondiv, .registericondiv{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.logingoogleicon,.logintwittericon,.logininstagramicon,.registergoogleicon,.registertwittericon,.registerinstagramicon{
  padding: 10px;
  border: 2px solid var(--green-contrast);
  color: var(--green-contrast);
  background-color: white;
  box-shadow: 2px 2px 10px gray;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}
.logingoogleicon:hover,.logininstagramicon:hover,.logintwittericon:hover,.registergoogleicon:hover,.registertwittericon:hover,.registerinstagramicon:hover{
  background-color: rgb(19, 12, 57);
  color: white;
}
.redirecttosignin,.redirecttologin{
  margin-top: 10px;
  margin-bottom: 10px;
}
.logintosiginlink,.registertologinlink{
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  color: black;
  margin-left: .5em;
}
.logintosiginlink:hover, .registertologinlink:hover{
  color: var(--logo-color);
  text-decoration: underline;
}
.loginTandCpart,.registerTandCpart{
  margin-top: 10px;
  margin-bottom: 10px;
}
.loginunderline,.registerunderline{
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: underline;
}
/* ************************************************carousel */
.carouseldiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.carouselheading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.carouselbtn{
  width: 30px;
  height: 30px;
  border: 2px solid rgb(187, 184, 184);
  border-radius: 50px;
  padding: 6px;
  background-color: transparent;
  margin: 5px;
  cursor: pointer;
}
.carouselbtn:hover{
  border: 2px solid black;
}
.carouselarrow{
  color: rgb(187, 184, 184);
}
.carouselbtn:hover .carouselarrow{
  color: black;
}
.carouselsection{
  width: 100%;
}
.carouselprojectData{
  width: 20em;
  display: flex;
  
}
.carouselul{
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; */
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 24px;
  overflow: hidden;
  scroll-behavior: smooth;
}

@media  screen and (max-width: 900px) {
  .carouselul{
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media  screen and (max-width: 600px) {
  .carouselul{
    grid-auto-columns: 100%
  }
}

.carouselcard{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 21em;
  height: 30em;
  padding: 15px;
}

.carouselul .carouselcard{
  list-style-type: none;
}

.carouselvideo{
  width: 20em;
  height: 14em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carouselpreviewVideo{
  width: 100%;
  border-radius: 5px;
}

.carouseldpblock{
  width: 15%;
  padding: 5px;
  text-align: center;
}
.carouselprojectdp{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carouselprojectdp .carouselprofiledp{
width: 40px;
height: 40px;
border-radius: 50%;
object-fit: cover;
}
.carouselbookmarkicon{
  width: 15%;
  padding: 5px;
  text-align: center;
}